{{template "partials/navbar" .}}

<div class="about-page">
    <p class="section-title"><strong>About</strong></p>
    <div class="content-area limited-width">
        <p>Welcome! servers.tf2dl.net (prev. upfast.tf) hosts public 
            <a href="https://store.steampowered.com/app/440/Team_Fortress_2/" target="_blank"
                rel="noopener noreferrer">Team Fortress 2</a>
            servers for anyone to play. The servers are usually set to surf or jump maps, which can be played solo.
            Feel free to join and play.
        </p>
        <!-- <p>This a personal project of mine. I created it mainly to gain experience with cloud infrastructure on AWS and to set up monitoring and observability. <a href="https://github.com/sawatkins/tf2dl-servers">GitHub</a>.</p> -->
    </div>

    <p class="section-title"><strong>Future Plans</strong></p>
    <div class="content-area limited-width">
        <p>
            &bull;&MediumSpace; Add more public servers<br>
            &bull;&MediumSpace; Allow anyone to create and reserve a private server for a set time<br>
        </p>
    </div>

    <p class="section-title"><strong>Contact</strong></p>
    <div class="content-area limited-width">
        <p>Email me for ban reports, server issues, suggestions, or anything else <a
                href="mailto:admin@tf2dl.net">here</a>.
        </p>
    </div>

    <p class="section-title"><strong>Feedback</strong></p>
    <div class="content-area limited-width">
        <p>Share your feedback or general comments <a
                href="https://tally.so/r/3yGk1X">here</a>.
        </p>
    </div>

    <!-- <p class="section-title"><strong>Privacy</strong></p>
    <div class="content-area limited-width">
        <p>servers.tf2dl.net doesn't store cookies or use tracking. To get server usage stats, hashed Steam IDs of connected
            users are recorded.</p>
    </div> -->

    <p class="section-title"><strong>Art Attribution</strong></p>
    <div class="content-area limited-width">
        <p>Soldier logo by VirtuaWave
            (<a href="https://www.youtube.com/watch?v=MrS7bezmsdk" target="_blank" rel="noopener noreferrer">yt</a>,
            <a href="https://gamedev-neoncity.tumblr.com/" target="_blank" rel="noopener noreferrer">tumblr</a>)
        </p>
    </div>
</div>

{{template "partials/footer" .}}
